useDynLib("rfPIPeak", .registration=TRUE)
exportPattern("^[^\\.]")

export(clear)
export(copyLoc)
export(fetch.genome)
export(file.which)
export(qw)
export(slopbed)
export(write.list)
export(bed.annot)
export(rfPIPeak.setup)
export(natsort)
export(shuffle)
export(genotype.matrix)
export(estimate.peaks)
export(refine.peaks)
export(p.fisher)
export(validate.peaks)
